<div class="centered">
    <h1>Tell your Secrets</h1>

    <%= form_for @post, html: {class: "col flex-end"} do |f| %>
    
        <%= f.text_area :content, size: "40x5" %>
    
        <%= f.submit "Post", class: "submit-btn" %>
    
    <% end %>
</div>
